$green: #53A548;
$red: #FF4048;
$skyBlue: #9ED6FF;
$black: #000000;
$gray: #828FA3;
$darkGray: #555555;
$redBrown: #7D3F0F;
$brown: #C48D60;
$darkWhite:  #D9D9D9;
$white: #FFFFFF;
$lightBrown: #deb7cd;
$otherLightBrown: #C6B9A8;