@import '../../Fonts/_Fonts.scss';

.header-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9ED6FF;
    height: 60px;
    header {
        height: 60px;
        background-color: #9ED6FF;
        display: flex;
        justify-content: space-between;
        font-family: $primary;
    }  
    .logo {
        align-self: center;
        margin-left: 10px;
    }
    .tree-container {
        display: flex;
        align-items: flex-end;
        .tree1 {
            height: 50px;
            width: 50px;
            margin-bottom: -4px;
        }
        .tree2 {
            margin-bottom: -18px;
        }
    }
    .dirt {
       margin: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: absolute;
        margin-top: 70px;
        margin-left: 800px;
        height: 100vh;
        width: 100vw;
        background-color: #FFFFFF;
        z-index: 10;
        ul {
            padding-top: 3rem;
            list-style: none;
            font-size: 2rem;
            color: #373737;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            a {
                list-style: none;
                text-decoration: none;
                color: #000000;
            }
        }
    }
   
    
}
